<p id="notice"><%= notice %></p>

<p>
  <strong>您的大名：</strong>
  <%= @gua.name %>
</p>

<p>
  <strong>您的Email：</strong>
  <%= @gua.email %>
</p>

<p>
  <strong>您給的數字：</strong>
  <%= @gua.number %>
</p>

<p>
  <strong>占卜時間：</strong>
  <%= @gua.created_at %>
</p>



<p>
  <strong>您的小六壬是：</strong>
  <%= @text %>
</p>


<!-- <%= link_to 'Edit', edit_gua_path(@gua) %> | -->
<%= link_to 'Back', guas_path %>
