<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gua.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @gua.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @result %>
</p>




<%= link_to 'Edit', edit_gua_path(@gua) %> |
<%= link_to 'Back', guas_path %>